* {
    scrollbar-width: none;
}

body {
    margin: 0;
}

header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 10vh;
}
h1 {
    margin: 0 auto;
}

main {
    align-items: center;
    display: flex;
    height: 90vh;
}

div#chat-container {
    display: flex;
    font-family: 'Nunito', sans-serif;
    flex-flow: column;
    height: 70vh;
    margin: 0 auto;
    width: 50%;
}

div#output {
    height: 65vh;
    overflow-y: auto;
}
div#output::-webkit-scrollbar {
    display: none;
}
div#actions {
    height: 2vh;
}
.message-box {
    *background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    *padding: 0 20px;
}
#icons-button {
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
textarea {
    border: none;
    flex-grow: 10;
    height: 4vh;
    padding: 2px 5px;
    resize: none;
}
textarea::-webkit-scrollbar {
    display: none;
}
input:focus, textarea:focus {
    outline: none;
}
#username {
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
button {
    background-color: rgb(245,245,245);
    border: none;
    flex-grow: 1;
}
button:hover {
    background-color: #EEE;
    cursor: pointer;
}
button#send {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
button#icons-button {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
button .fas, button .far {
    font-size: 20px;
}
.fa-paper-plane {
    color: cornflowerblue;
}
.fa-laugh {
    color: lightsalmon;
}
::placeholder {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.careless-whisper {
    color: deeppink;
}

.emoji-picker {
    background-color: #303841;
    border-radius: 5px;
    display: flex;
    height: 262px;
    margin: 5px auto;
    width: 97%;
}
#emoji-gestures {
    height: auto;
}

.hidden {
    display: none;
}