* {
    scrollbar-width: none;
}

body {
    margin: 0;
}

header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 10vh;
}
h1 {
    margin: 0 auto;
}

main {
    align-items: center;
    display: flex;
    height: 90vh;
}

/* LOGIN */
#login {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    height: 200px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
}
input#input_username {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 85%;
}
input#input_username ~ span {
    display: block;
    color: red;
    height: 22px;
    text-align: center;
    width: 100%;
}
input#input_username ~ div {
    width: 100%;
    text-align: center;
}
button#send_username {
    background-color: #EFEFEF;
    height: 30px;
    width: 100px;
}
button#send_username:hover {
    background-color: greenyellow;
}

/* USERS-LIST */
div#users_list {
    background-color: black;
    color: lightblue;
    height: inherit;
    overflow-y: auto;
    padding: 5px 10px;
    width: 15%;
}
div#users_list::-webkit-scrollbar {
    display: none;
}
.user {
    align-items: center;
    column-gap: 6px;
    display: flex;
}
.connected {
    background-color: rgb(60,255,0);
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

div#chat-container {
    display: flex;
    font-family: 'Nunito', sans-serif;
    *flex-flow: column;
    height: 70vh;
    margin: 0 auto;
    width: 80%;
}

.chat-box {
    width: 80%;
}

div#output {
    height: 61vh;
    overflow-y: auto;
}
div#output::-webkit-scrollbar {
    display: none;
}
div#actions {
    height: 2vh;
}
.message-box {
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    height: 4vh;
}
#icons-button {
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
textarea {
    border: none;
    flex-grow: 10;
    height: 3vh;
    padding: 2px 5px;
    resize: none;
}
textarea::-webkit-scrollbar {
    display: none;
}
input:focus, textarea:focus {
    outline: none;
}
/* #username {
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
} */
div#username {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 50px;
    height: 3vh;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
button {
    background-color: rgb(245,245,245);
    border: none;
    flex-grow: 1;
}
button:hover {
    background-color: #EEE;
    cursor: pointer;
}
button#send {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
button#icons-button {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
button .fas, button .far {
    font-size: 20px;
}
.fa-paper-plane {
    color: cornflowerblue;
}
.fa-laugh {
    color: lightsalmon;
}
::placeholder {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.careless-whisper {
    color: deeppink;
}

.emoji-picker {
    background-color: #303841;
    border-radius: 5px;
    display: flex;
    height: 262px;
    margin: 5px auto;
    width: 97%;
}
#emoji-gestures {
    height: auto;
}

p.server-message {
    text-align: center;
    color: lightskyblue;
    font-style: italic;
    font-size: 13.3333px;
}

.hidden {
    display: none;
}